<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('includes/head.ejs') %>
	</head>
	<body>
		<h1>Some error occurred!</h1>
		<p>We're working on fixing this, sorry for the inconvenience!</p>

		<%- include('includes/end.ejs') %>
		<!-- <script src="assets/js/custom.js"></script> -->
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
	</body>

	<!-- Mirrored from themezhub.net/goodup-live/goodup/404.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 17:06:11 GMT -->
</html>
