<!DOCTYPE html>
<html lang="en">
	<!-- Mirrored from themezhub.net/goodup-live/goodup/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 17:06:05 GMT -->
	<head>
		<!-- Meta Data -->
		<%- include('includes/head.ejs') %>
	</head>

	<body>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div class="preloader"></div>

		<!-- ============================================================== -->
		<!-- Main wrapper - style you can find in pages.scss -->
		<!-- ============================================================== -->
		<div id="main-wrapper">
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			<!-- Start Navigation -->
			<%- include('includes/header.ejs') %>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->

			<!-- =============================== Dashboard Header ========================== -->
			<style>
				/* Your existing styles here */

				@media (max-width: 768px) {
					.add-list-btn {
						width: 46%;
						font-size: 13px;
						margin: 5px; /* Make the buttons take full width on smaller screens */
					}

					.dashboard-head-author-clicl {
						max-width: 100%; /* Adjust the maximum width for smaller screens */
					}
					.flex-container {
						margin-left: 0px;
					}
					.add-list-btn.hidden {
						display: none;
					}
					.abs-list-sec {
						margin-left: 30px;
					}

					/* Add any additional styles for smaller screens here */
				}
			</style>

			<!-- =============================== Dashboard Header ========================== -->
			<section
				class="bg-cover position-relative"
				style="background: red url(assets/img/banner-6.jpg) no-repeat"
				data-overlay="3"
			>
				<div class="abs-list-sec">
					<div class="flex-container">
						<a href="/survey/index.html" class="add-list-btn hidden"
							><i class="fas fa-plus me-2"></i>Create Survey</a
						>
						<a href="/poll/strawpoll.com/create/index.html" class="add-list-btn"
							><i class="fas fa-poll me-2"></i>Create Poll</a
						>
						<a href="/Bulk sms/index.html" class="add-list-btn"
							><i class="fas fa-sms me-2"></i>Send SMS</a
						>
						<a href="dashboard-add-listing.html" class="add-list-btn"
							><i class="fas fa-list me-2"></i>Create Marketting List</a
						>
						<a href="dashboard-add-listing.html" class="add-list-btn"
							><i class="fas fa-shopping-bag me-2"></i>Mystery Shopping Task</a
						>
						<a href="add-listing.html" class="add-list-btn hidden"
							><i class="fas fa-plus me-2"></i>Add Listing</a
						>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="dashboard-head-author-clicl">
								<div
									style="border-radius: 20px"
									class="dashboard-head-author-thumb"
								>
									<img
										style="border-radius: 20px"
										src="assets/img/t-5.png"
										class="img-fluid"
										alt=""
									/>
								</div>
								<div class="dashboard-head-author-caption">
									<div class="dashploio"><h4>Sablak Hotel</h4></div>
									<div class="dashploio">
										<span class="agd-location"
											><i class="lni lni-map-marker me-1"></i>Challenge Ibadan,
											Oyo Nigeria</span
										>
									</div>
									<div class="listing-rating high">
										<i class="fas fa-star active"></i
										><i class="fas fa-star active"></i
										><i class="fas fa-star active"></i
										><i class="fas fa-star active"></i
										><i class="fas fa-star active"></i>
									</div>

									<div class="Goodup-price-range">
										<span class="ft-medium text-light">34 Reviews</span>
									</div>
									<div class="d-block mt-3">
										<div class="list-lioe">
											<div class="list-lioe-single">
												<span class="ft-medium text-info"
													><i class="fas fa-check-circle me-1"></i>Claimed</span
												>
											</div>
											<div class="list-lioe-single ms-2 ps-3 seperate">
												<a
													href="javascript:void(0);"
													class="text-light ft-medium"
													>Chicken | Wings</a
												>|<a
													href="javascript:void(0);"
													class="text-light ft-medium ms-1"
													>| Sports</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br /><br /><br /><br /><br />
			</section>
			<!-- =============================== Dashboard Header ========================== -->

			<!-- ======================= dashboard Detail ======================== -->
			<div class="goodup-dashboard-wrap gray px-4 py-5">
				<a
				class="mobNavigation"
				data-bs-toggle="collapse"
					href="#MobNav"
					role="button"
					aria-expanded="false"
					aria-controls="MobNav"
					>
					<i class="fas fa-bars me-2"></i>Dashboard
				</a>
				<!-- ======================= dashboard nav ======================== -->
				<%- include('includes/dashboardNav.ejs') %>
				<!-- ======================= dashboard nav ======================== -->

				<div class="goodup-dashboard-content">
					<div class="dashboard-tlbar d-block mb-5">
						<div class="row">
							<div class="colxl-12 col-lg-12 col-md-12">
								<h1 class="ft-medium">Change Password</h1>
								<nav aria-label="breadcrumb">
									<ol style="gap: 5px" class="breadcrumb">
										<li class="text-muted"><a href="#">Home</a></li>
										<li class="text-muted"><a href="#">Dashboard</a></li>
										<li class="breadcrumb-item">
											<a href="#" class="theme-cl">Change Password</a>
										</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>

					<div class="dashboard-widg-bar d-block">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12">
								<div class="_dashboard_content bg-white rounded mb-4">
									<div class="_dashboard_content_header br-bottom py-3 px-3">
										<div class="_dashboard__header_flex">
											<h4 class="mb-0 ft-medium fs-md">
												<i class="fa fa-lock me-2 theme-cl fs-sm"></i>Change
												Password
											</h4>
										</div>
									</div>

									<div class="_dashboard_content_body py-3 px-3">
										<form class="row submit-form">
											<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
												<div class="form-group">
													<label>Old Password</label>
													<input
														type="text"
														class="form-control rounded"
														placeholder=""
													/>
												</div>
											</div>
											<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
												<div class="form-group">
													<label>New Password</label>
													<input
														type="text"
														class="form-control rounded"
														placeholder=""
													/>
												</div>
											</div>
											<div class="col-xl-8 col-lg-9 col-md-12 col-sm-12">
												<div class="form-group">
													<label>Confirm Password</label>
													<input
														type="text"
														class="form-control rounded"
														placeholder=""
													/>
												</div>
											</div>
											<div class="col-xl-12 col-lg-12">
												<div class="form-group">
													<button
														type="submit"
														class="btn btn-md ft-medium text-light rounded theme-bg"
													>
														Save Changes
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- footer -->
					<div class="row">
						<div class="col-md-12">
							<div class="py-3">
								<p class="mb-0">
									<a style="color: blue" href="https://foramfera.com/"
										>© 2024 Foraminifera Market Research LTD.</a
									>
									All rights reserved.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ======================= dashboard Detail End ======================== -->

			<a id="tops-button" class="top-scroll" title="Back to top" href="#"
				><i class="ti-arrow-up"></i
			></a>
		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<%- include('includes/end.ejs') %>
		<!-- <script src="assets/js/custom.js"></script> -->
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
	</body>

	<!-- Mirrored from themezhub.net/goodup-live/goodup/dashboard-change-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 30 Jan 2024 17:06:08 GMT -->
</html>
